body, html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
}


*, *:before, *:after {
  box-sizing: content-box;
  max-width: 100vw;
  overflow: unset;
}

.App {
  margin: 0;

}

/*--red:     #FE5F55;*/
/*--blue: #577399 ;*/

:root {
  --red:     #F45B69;
  --blue: #4062BB ;
  --grey: #C8D3D5;
  --yellow: #FFDE00;
  --black: #302f2f;
  --passMePurple: #A264F2;
  --blueGradient: linear-gradient(45deg, #0f3e73, #0C69C5);

}


::selection {
  color: var(--red);
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  margin: auto;
  color: var(--grey);
  background-color: #ffffff30;
  position: sticky;
  top: 00px;
  z-index: 100;
}

.Navbar > * {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-size: 20px;
  link: none;
  border: 0;
  color: var(--blue);
  margin: auto;


}


.active{
  color: var(--grey);
}

.blue{
  color: var(--blue);
}




.Home {
  display: flex;
  flex-direction: column;
  align-items: center;



}


.Header {
  display: flex;
  flex-direction: column;
  font-size: calc(42px + 2vmin);
  text-align: start;
  font-weight: bold;
  position: fixed;
  margin-top: 15px;
  margin-left: 30px;

}

.Header > p > span{
  line-height: 1.8;
}


.Portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  width: 100vw;
  top: 42vh;
  position: relative;
  margin: auto;

}

.WorkItem {
  width: 480px;
  height: 370px;
  margin: 80px 15px 15px 15px;

}

.Portfolio :hover img{
  transform: scale(1.05);

}

.Portfolio :hover h2:after
{
  content: " \2192";
  transform: scale(1.5);

}




.WorkItem > body{
  height: 80%;
background: #ea2d2d;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;

  border-radius: 10px;
 }

.WorkItem > body > img {
  transition: transform .5s ease-out;
  height: 90%;
}

.WorkItem > .ItemFooter {
  width: 100%;
  height: 50px;
  line-height: 5px;
  transition: transform .5s ease-out;
}

 .ItemFooter > h2 {
   color: var(--blue);
}

 .WorkItem .ItemFooterDetails {
   display: flex;
   flex-direction: row;
   line-height: 0;
   align-items: center;
   color: var(--grey);
 }



.dot {
  background-color: var(--grey);
  height: 2px;
  width: 2px;
  border-radius: 50%;
  bottom: 0;
  margin: 0 10px 0 10px


}

.Contact {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  max-width: 800px;
  top: 40vh;
  justify-content: center;

  margin-top: 200px;
  padding-bottom: 300px;
}



.Contact  .block-effect {
  width: 50%;
  min-width: 300px;
  font-size: 24px;
  text-align: start;
}

.Contact  h3 {
  width: 50%;
  min-width: 300px;
  font-weight: normal;
  line-height: 1.6;
  text-align: start;
margin-top: 2em;

}



.block-reveal{
  --td: 1.2s;
  --d: 0.1s;
  --t: calc(var(--td) + var(--d));

  border-left-color:  transparent;

  visibility: unset;
  padding: 4px;
  margin-bottom: 0;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after
{
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--yellow);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

.two {
  --d: 0.5s;
  margin-top: 0px;

}



/* animations */
@keyframes revealBlock {
  0% {

    filter: opacity(0.5);
  }

  50%{
  }
  100% {
    color: #0f0f0f;

  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}


.Footer {
  width: 100%;
  max-width: 800px;

  margin: 200px auto auto auto;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--blue);
  font-weight: bold;
  border-top: solid 1px black;
  padding-top: 50px;
  padding-bottom: 60px;

}


.Footer > p{
  margin: 20px;
}

.cursor {
  position: fixed;
  left: 10px;
  top: 100px;
  pointer-events: none;
  opacity: 0.3;
  transition: transform .7s ease-out;

}
.cursor--small {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  z-index: 11000;
  background: #2b2b2c;
}

 /***********about me*************/

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  width: 100vw;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
}

.block {
  width: 100vw;
  background-color: var(--yellow);

}


@keyframes mymove {
  from {right: -100vw;}
  to {right: 0;}
}

.About h1 {
  font-size: 60px;
  background: linear-gradient(to top, var(--yellow) 45%, transparent 45%);

}




.imgAbout {

  display: flex;
  flex-direction: row;

}

.DetailsAbout {
  width: 100vw;
  max-width: 1300px;
}

.DetailsAbout img{

  width: 50%;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) opacity(1);
}

.DetailsAbout p {
  line-height: 1.8;
}


#triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid;
  border-left-color:  var(--yellow);;
  border-bottom: 50px solid transparent;
}


.SecondAbout{
  width: 100%;
  height: 100vh;
  background-color:var(--yellow);
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0;
  position: sticky;
  top: 0;
}

.SecondAbout img {

  width: 370px;
  margin: 50px;

  transition: transform .5s ease-out;


}

.SecondAbout img:hover {
  transform: scale(1.05);
}


.ThirdAbout {
  width: 100%;
  height: 100vh;
  background-color: #ffff;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ThirdAbout > *{
margin: 100px;
}


p {
  margin: 0;
  transition: color 0.8s ease;
}

.ThirdAbout button {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--yellow);
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.button:hover {
  background: var(--yellow);

}

.button:hover p{
  color: white;

}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}



/****************** Story Spot *******************/

.StorySpot {
  width: 100vw;
  top: 0;
  position: relative;
}

.StorySpotHeader {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;

  position: sticky;
  top: 0;

}

.StorySpotHeader img {
  height:  700px;


}

.StorySpotHeader > div {
  display: table-column;
  flex-direction: column;
  color: white;
  align-self: center;
  font-size: 30px;
}

.StorySpotHeader > * {
  margin: 50px;
}

.StorySpotBody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  background: white;
  padding-bottom: 150px;
justify-content: center;
  align-items: center;

}


.StorySpotBody img {
  width: 400px;
  margin-top: 100px;
  align-self: start;
}

.StorySpotBody div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}

.StorySpotBody > div > h1 {
  text-align: start;
  alignment: center;
  color: #0f3e73;

  margin: 100px 100px 0 100px ;

}



.StorySpotBody > div > img {
  height: auto;
  width: 350px;
  filter:  drop-shadow(0px 0px 0px );
  margin: 100px 100px 0 100px ;

}







.BlueGradient,
.PassMeIcons {
  width: 100%;
  height: 80vh;
  background: var(--blueGradient);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BlueGradient div,
.PassMeIcons div {
  width: 70%;
  height: 80%;
  margin: auto;
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: #0f3e7350;
}

.BlueGradient img,
.PassMeIcons img {
  margin: auto;
  width: 150px;

}
.BlueGradient img:hover,
.PassMeIcons img:hover {
  transform: scale(1.2);
}


/******************* PASSWORD MANAGER ******************************/

.PasswordManager{
max-width: 100vw;
  --w:140vw;
  --h:200vh;
  background:
          linear-gradient(to bottom right,transparent 49.8%,#fff 50%) calc(70% + calc(var(--w)/4)) 0 /calc(var(--w)/2) var(--h),
          linear-gradient(to bottom left, transparent 49.8%,#fff 50%) calc(70% - calc(var(--w)/4)) 0 /calc(var(--w)/2) var(--h),
          linear-gradient(90deg, var(--passMePurple), #BD97EF)top center/ var(--w) var(--h);

  background-repeat:no-repeat;

}

.PasswordManager img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

#triangle-pass-back{
  width: 0;
  height: 0;
  position: absolute;
  border-right: 100vw solid transparent;
  border-top: 150vw solid;
  border-top-color:  var(--passMePurple);;
  border-left: 100vw solid transparent;
  transform: translateY(-300px) rotate(10deg);

}

.PassMeHeader{

  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.PassMeHeader > * {
  margin: 100px;
  text-align: center;
  
}

.PassMeHeader  img {
  height: 80px;
}


.PassMeHeader h1 {
  font-size: 70px;
  margin-top: 10px;
}

.PassMeHeader > img {
  height: 60%;
  transform: rotate(-15deg);
  filter: drop-shadow(15px 15px 15px var(--passMePurple));
}


.PassMeTiles{
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 200px;
  margin-top: 100px;
}

.PassMeTiles > div {
  width: 200px;
  background-color: white;
  color: var(--passMePurple);
  margin: 5%;
  border-radius: 20px;
  box-shadow: 15px 15px 15px #920DD4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.PassMeTiles h1 {
  width: 100%;
  font-size: 24px;
  font-weight: bolder;
}


.PassMeTiles img {
  width: 80%;
  height: auto;
}




.PassMeBody{
  padding-top: 150px;
  color: var(--passMePurple);
  width: 100%;
  max-width: 100vw;

}

.PassMeBody div {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 150px;
}

.PassMeBody img {
  width: 200px;
  height: auto;
  margin: 100px;
}





.PassMeScanner{
  background-color: var(--passMePurple);

  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  border-radius: 80px;
  padding-top: 50px;
}

.PassMeScanner div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.PassMeScanner img {
  height: auto;
  width: 40%;

  align-self: end;
  margin-left: 100px;
  transform: scale(1.1);
}



.PassMeIcons{
background: var(--passMePurple);

  margin-top: 200px;
}

.PassMeIcons div {
  background-color: #BD97EF;

}

















/************* media ******************/

@media (min-width: 1040px) {
  .red:hover  .red,
  .red:hover,
  .active:hover,
  .Portfolio:hover ~ #cou
  {
    color: var(--red);
  }
}


  @media (max-width: 1040px) {

  .cursor {
    visibility: hidden;
  }


  .Header {
    font-size: 2em;
    top: 30vh;
  }

  .WorkItem {

    height: 20em;
    align-self: center;
    margin: 100px 0 0 0;

  }

    .WorkItem > .ItemFooter {
      width: 100%;
      height: 50px;
      line-height: 5px;
      transition: transform .5s ease-out;
    }

    .ItemFooter > h2 {
      color: var(--blue);
    }

    .dot {
      margin:  0 0 0 10px;
    }





  .WorkItem img {
    max-width: 100vw;
   height: 100%;
    margin: 0;
  }

  .WorkItem .ItemFooter > h2, h4{
    padding-left: 10px;

  }

  .WorkItem .ItemFooter > h2 {
    color: black;
  }


  .Portfolio {
    top: 50vh;
margin: 0;
  }



  .Contact {
    justify-content: center;
    align-self: center;
  }

  .Contact  h2, h3 {
    width: 100%;

  }

  .Contact h2 {
    font-size: 28px  }


  /************ about ************/






 .SecondAbout {
   position: relative;
   height: auto;
  }

 .imgAbout {
   flex-wrap: wrap;
 }

  #triangle-left {
    width: 0;
    height: 0;
    position: absolute;
    border-top: 150px solid transparent;
    border-left: 300px solid  var(--yellow);
    border-bottom: 150px solid transparent;
  }


  .DetailsAbout img{
    width: auto;
    height: 300px;
    z-index: 10;
    -webkit-filter: grayscale(100%) drop-shadow(1px 1px 0 white); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) drop-shadow(-1.5px -1.5px 0px white);

  }


  /***************** StorySpot *******************/

    .Navbar {
      width: 100vw;
    }

    .StorySpot {
      max-width: 100vw;
      margin: 0;
    }

    .StorySpotBody > img {
      max-width: 80vw;
      align-self: center;
    }

    .StorySpotHeader {
      position: relative;
      flex-wrap: wrap;
      height: auto;
      max-width: 100vw;
      margin: 0;
    }



    .StorySpotBody > div > h1 {
      margin: 0px auto;
      order: 2;


    }


    .StorySpotBody > div > img,
    .StorySpotHeader img {

      width: 350px;
      height: auto;
      max-width: 100vw;
      margin: 80px auto auto auto;
      order: 1;

    }

    .StorySpot .BlueGradient div,
    .PassMeIcons div{
      width: 100vw;
    }


    .StorySpotHeader > * {
    }


    /***************** Password Manager *******************/

    .PasswordManager{
      background: white;
    }

    .PassMeHeader {
      height: auto;
      background: var(--passMePurple);
      position: relative;
      flex-wrap: wrap;
      max-width: 100vw;
      margin: 0;

    }

    .PassMeHeader > img {
      width: 250px;
      height: auto;
      max-width: 100vw;
      transform: rotate(0deg);


    }

    .PassMeBody{
      padding-top: 0;
    }

    .PassMeBody div {
      width: 100vw;
      height: auto;
      margin: 150px 0 0 0;
    }

    .PassMeBody img {
      width: 60%;
      height: auto;
      order: 1;
    }

    .PassMeBody h1 {
      width: 100vw;
      height: auto;
      text-align: center;
      margin: auto;
      order: 2;
    }



    .PassMeScanner {
      border-radius: 0;
    padding: 10px;
      margin-top: 100px ;
    }

    .PassMeScanner > div {
      font-size: 18px;

    }

    .PassMeScanner img {
      margin-left: 0;
    }













}















